h1{
    color: lightseagreen;
    font-family: Arial;

}
ul{
  
    list-style-type: none;
    padding: 10;
}
li.nav {
    float: left;
  }

  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }


/* tr.warning{
background-color: #75dbcd;
} */
th{
    background-color:gray;
}
a{
    text-decoration:none;
    color: black;
}
div.input{
    margin: 5px;
    width: 100%;
}

header{
    border-style: solid;
    border: 2px;
    background-color: #75dbcd;
    height: 50px;
    border-radius: 5px;
   
}
.form_login{
	box-sizing : border-box;
	width: 375%;
	padding: 10px;
    font-size: 11pt;
    /* border-radius: 5px; */
}
div.content{
    display: flex;
    flex-flow: row ;
}
/* .section {
    display: flex;
    flex-flow: row wrap;
} */
aside{
    background-color: #c9dbba;
    margin: 5px; 
    width: 25%;
    border-radius: 5px;

}
table{
    margin: 10px;
    padding: 14px 20px;
}
img{
    margin-left: 30%;
    margin-top: 10px;
    border: 1px;
    border-style: dashed;
    padding: 10px;
    
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #c9dbba;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }



  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #c9dbba;
    color: white;
  }