<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>wmb.Main</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testDelete</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testButtonTable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testDropDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tesFaildeAddTable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testButtonTablePopUp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tesUpload</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestTitle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestJudulApp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
