.App {
    text-align : center;
}.App-logo {
    height : 15vmin;
}
.App-header {
    margin : 10px;
    border-radius: 10px;
    background-color : #282c34;
    min-height : 15vh;
    display : flex;
    flex-direction : column;
    align-items : flex-start;
    justify-content : flex-start;
    font-size : calc(10px + 2vmin);
    color : white;
}
.App-card{
    background-color : #cdd3df;
    margin: 10px;
    min-height: 200px;
    width: 200px;
    box-shadow: 5px 5px 19px  #74777d ;
    border-radius: 10px;
    display: inline-block;

}
.App-link {
    color : #09d3ac;
}
