<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b66870">  <td>19/12/29 17:52:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:learn.Main@724af044]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>19/12/29 17:52:14</td>   <td>3849</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Main.TestLogin()[pri:0, instance:learn.Main@724af044]">TestLogin</td> 
  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>19/12/29 17:52:30</td>   <td>20117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.setDown()[pri:0, instance:learn.Main@724af044]">&lt;&lt;setDown</td> 
<td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
</table>
