.App {
  text-align: center;
}

.App-logo {
  height : 15vmin;
}
.App-header {
  margin : 10px;
  border-radius: 10px;
  background-color : #282c34;
  min-height : 15vh;
  display : flex;
  flex-direction : column;
  align-items : center;
  justify-content : center;
  font-size : calc(10px + 2vmin);
  color : white;
  box-shadow: 5px 5px 19px  #74777d ;

}
.App-card{
  background-color : #cdd3df;
  margin: 10px;
  min-height: 200px;
  width: 200px;
  box-shadow: 5px 5px 19px  #74777d ;
  border-radius: 10px;
  display: inline-block;

}
.App-link {
  color: #09d3ac;
}


.customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  justify-content: flex-end;
}

.customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {background-color: #ddd;}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}