h1{
    color: lightseagreen;
    font-family: Arial;

}
ul{
  
    list-style-type: none;
    padding: 10;
}

li{
    display: block;
    margin: 5px;
      
}
table{
    width: 100%;
    margin: 5px; 
}
td{
    border: 1px solid;
}
tr.warning{
background-color: #75dbcd;
}
th{
    background-color: green;
}
a{
    text-decoration:none;
    color: black;
}
div.input{
    margin: 5px;
    width: 100%;
}
li:hover{
    background-color: #555555;
}
header{
    border-style: solid;
    border: 2px;
    background-color: #75dbcd;
    height: 50px;
    border-radius: 5px;
    padding: 10 px;
}
div.content{
    display: flex;
    flex-flow: row ;

}
/* .section {
    display: flex;
    flex-flow: row wrap;
} */
aside{
    background-color: #c9dbba;
    margin: 5px; 
    width: 20%;
}
