.sidenav {
    height: 50%;
    width: 160px;
    position: fixed;
    z-index: 0;
    top: 1;
    left: 0;
    background-color: #282c34;
    overflow-x: hidden;
    padding-top: 20px;
    margin : 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 19px  #74777d ;

}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    box-shadow: 5px 5px 19px  #74777d ;

}

.sidenav a:hover {
    color: #f1f1f1;
}