.App {
    text-align: center;
}

.App-logo {
    height: 25vmin;
    width: 25vmin;
    border-radius: 100px;
    box-shadow: 5px 5px 13px #b8b7aa;
    margin: 10px;
}

.music-logo {
    height: 10vmin;
    width: 10vmin;
    margin: 10px;
    display: inline-block;
}

.App-header {
    margin: 10px;
    border-radius: 10px;
    background-color: #282c34;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-card {
    background-color: #cdd3df;
    margin: 10px;
    min-height: 200px;
    width: 200px;
    box-shadow: 5px 5px 19px #74777d;
    border-radius: 10px;
    display: inline-block;

}

.App-link {
    color: #09d3ac;
}


.pagination {
    margin-top: 25px;
}

.pagination span {
    cursor: pointer;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination span.active {
    background-color: #0099FF;
    color: white;
    border: 1px solid #0099FF;
}